button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
    color: #000;
    letter-spacing: -0.39px;
    transition: 0.3s;
}

a {
    color:inherit;
    text-decoration: none;
    transition: 0.3s;
}

img { 
    display: block;
    max-width: 100%;
}

ul, li {
    list-style: none;
}

.Container {
    display: grid;
    justify-items: center;
    background: #fff;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    padding-bottom: 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.Container::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.Container::-webkit-scrollbar-thumb {
    background: none;
}

.Container::-webkit-scrollbar-track {
    background: none;
}

.Contents {
    margin-top: 2.8rem;
    margin-bottom: 3.063rem;
    width: 60rem;

    @media screen and (max-width: 800px) {
        max-width: calc(100vw - 2rem);
    }

    .emptyCart {
        margin-top: 0.25rem;
        margin-bottom: 2.063rem;
        text-align: center;
        padding: 0.75rem;
    }
}


.Menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #fff;
    box-shadow: 0 -0.5px 0 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0;
    width: calc(100% + 2rem);
    justify-items: center;
    z-index: 9999;
}

.Menu button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.688rem 2.875rem 0.688rem 2.938rem;
}

.Title {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: -0.39px;
    padding: 0.675rem;
    text-align: center;
}

.TitleCard {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: -0.39px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.TitleCard::after {
    display: block;
    content: "";
    border-bottom: 2px solid #000;
    margin-top: 0.5rem;
}

.NavbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 2.75rem;
 }
 
 .NavbarContainer button {
    position: absolute;
    left: 0;
    padding: 0.675rem;
 }
 
 .NavbarContainer p {
    position: absolute;
    left: 50; 
 }